/target
.idea
out
src/tests/RCMD/
example_projects/*/rv
example_projects/test
example_projects/custom-lib-path/libs
example_projects/*/rv.lock
!example_projects/archive/rv.lock
from*/
.DS_Store
.aider*
logs/
dist/
